.cta button {
    margin: 10px;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
}

.cta button.cadastro {
    background: rgb(15, 15, 126);
    color: white;
    border: 1.5px solid white;
}

.sobre,
.recursos {
    text-align: center;
    margin: 40px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}