.estrelas {
    text-align: center;
    margin: 40px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.estrelas .cards {
    display: contents;
    justify-content: center;
    gap: 20px;
}

.estrelas .cards .card {
    display: flex;
    min-width: 90%;
    width: auto;
    align-items: center;
    gap: 15px;
    height: 400px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.897);
}

.card img {
    width: auto;
    max-height: 300px;
}

.card p {
    margin: 0;
}