header {
    position: relative;
}

.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    padding: 60px 0;
    max-height: 650px;
}

.card-login {
    background-color: rgba(255, 255, 255, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
    padding: 36px 48px;
    border: solid #0f0f7e 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.897);
}

.card-login h2 {
    font-size: 27px;
    font-weight: 700;
    color: #e63946;
    text-align: center;
    padding-bottom: 20px;
}
